<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1 sync</title>
</head>
<body>

    {% for message in get_flashed_messages() %}
        <p style="color: blue;"><strong>{{ message }}</strong></p>
    {% endfor %}

    <form action="/" method="POST">
        <div>
            <label>Name:</label>
            <input type="text" name="name" required>
        </div>
        <br>
        <div>
            <label>Surname:</label>
            <input type="text" name="surname" required>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>

        <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No users found in database.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>